/**
 * Stylesheet for mytheme by mycompany.com
 * Author: My Name
 *
 * SITE COLORS:
 * Primary color: #0000ff (Blue)
 * Highlight color: #ff0000 (Red)
 * Text color: #444 (Grey)
 *
 * TABLE OF CONTENTS, change this to whatever fits your coding habits
 * 1. Typography
 * 2. Layout
 * 3. Decoration per Region
 * 4. Forms
 * 5. Drupal Elements
 * 6. Drupal Modules
 * 7. Block Skins
 *
 */

/**
 * [ 1 ] TYPOGRAPHY
 */

body {
  font: 13px/1.5em helvetica, arial, verdana, sans-serif;
  color:  #444;
}

a:link,
a:visited {
  color:#0000ff;
}

a:hover,
a:focus {
  color:#ff0000;
}

a:active {
  text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/**
 * Typographical scale by Mark Boulton
 */

h1 {
  font-size: 218%;
}

h2 {
  font-size: 164%;
}

h3 {
  font-size: 145%;
}

h4 {
  font-size: 118%;
}

/**
 * [ 2 ] Layout
 */

/**
 * [ 3 ] Etcetera
 */