.block-system .contextual-links-wrapper {
  display: none!important;
}

.page-admin-appearance-settings .main form {
  position: relative;
  z-index: 5;
}

.region-sidebar-second,
.region-sidebar-first,
#block-system-help {
  display: none;
}

.wrap-columns .main {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

#system-theme-settings {
  border: 1px solid #bbb;
  color: #333;
  width: 942px;
  padding: 0;
  margin: 2em 0 0 0;
  background: #fff;
  font-size: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  font-family: Arial,verdana,sans;
  line-height: 1.3em;
}
#system-theme-settings a {
  color: #0074BD;
}
#system-theme-settings label {
  line-height: 1.4em;
  display: block;
  font-weight: bold;
}
#system-theme-settings label,
#system-theme-settings input,
#system-theme-settings select,
#system-theme-settings textarea {
  font-family: inherit;
  color: inherit;
  max-width: 99%;
}
#system-theme-settings input,
#system-theme-settings textarea,
#system-theme-settings select {
  padding: 4px;
  line-height: 1.4em;
  border: 1px solid #ccc;
  background: #fff;
}
#system-theme-settings input[type=checkbox],
#system-theme-settings input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: -2px 0 0 0;
  border: none;
}
#system-theme-settings input,
#system-theme-settings textarea {
  -moz-transition: border linear 0.2s, background-color linear 0.2s;
  -webkit-transition: border linear 0.2s, background-color linear 0.2s;
  -o-transition: border linear 0.2s, background-color linear 0.2s;
  transition: border linear 0.2s, background-color linear 0.2s;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
#system-theme-settings input:focus,
#system-theme-settings textarea:focus {
  outline: 0;
  border-color: #bbb;
  background-color: #fafafa;
}
#system-theme-settings input[type=button],
#system-theme-settings input[type=reset],
#system-theme-settings input[type=submit],
#system-theme-settings button,
#system-theme-settings input.form-submit,
#system-theme-settings .form-actions a,
#system-theme-settings .form-actions a:visited {
  width: auto;
  height: auto;
  margin: 1.4em 6px 0 0;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4));
  background-image: -webkit-linear-gradient(#ffffff, #e4e4e4);
  background-image: -moz-linear-gradient(#ffffff, #e4e4e4);
  background-image: -o-linear-gradient(#ffffff, #e4e4e4);
  background-image: -ms-linear-gradient(#ffffff, #e4e4e4);
  background-image: linear-gradient(#ffffff, #e4e4e4);
  -moz-box-shadow: rgba(255, 255, 255, 0.75) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.75) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.75) 0 0 0 1px inset;
  background-repeat: no-repeat;
  border-color: #ccc;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  line-height: 1em;
  word-wrap: normal;
  overflow: visible;
}
#system-theme-settings input[type=button]:hover, #system-theme-settings input[type=button]:focus,
#system-theme-settings input[type=reset]:hover,
#system-theme-settings input[type=reset]:focus,
#system-theme-settings input[type=submit]:hover,
#system-theme-settings input[type=submit]:focus,
#system-theme-settings button:hover,
#system-theme-settings button:focus,
#system-theme-settings input.form-submit:hover,
#system-theme-settings input.form-submit:focus,
#system-theme-settings .form-actions a:hover,
#system-theme-settings .form-actions a:focus,
#system-theme-settings .form-actions a:visited:hover,
#system-theme-settings .form-actions a:visited:focus {
  background-position: 0 10px;
  border-color: #dadada;
}
#system-theme-settings .description {
  font-size: 11px;
  line-height: 1.4em;
}
#system-theme-settings form .error {
  border: 1px solid #cc0000;
}
#system-theme-settings ul li {
  margin: 0;
  padding: 0;
  background: none;
}
#system-theme-settings h1, #system-theme-settings h2, #system-theme-settings h3, #system-theme-settings h4 {
  font-family: Arial,verdana,sans;
  color: #333;
  margin: 0;
  padding: 0 0 5px 0;
  line-height: 1em;
  font-weight: bold;
}
#system-theme-settings h2 {
  font-size: 27px;
}
#system-theme-settings h3 {
  font-size: 14px;
}
#system-theme-settings legend, #system-theme-settings legend span {
  font-weight: bold;
}
#system-theme-settings .configurator-header {
  padding: 20px;
  overflow: hidden;
  background-color: #f1f1f1;
  position: relative;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  text-shadow: white 1px 1px 1px;
}
#system-theme-settings .configurator-header .configurator-logo {
  position: absolute;
  top: -30px;
  right: -30px;
  opacity: 0.6;
  width: 100px;
  margin: 50px;
  border: none;
  outline: none;
  background: none;
}
#system-theme-settings .configurator-header .configurator-logo:hover, #system-theme-settings .configurator-header .configurator-logo:focus {
  opacity: 1;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  width: 125px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
#system-theme-settings .vertical-tabs-pane {
  width: 661px;
  background: #fff;
}
#system-theme-settings .vertical-tabs-pane fieldset {
  margin: 0 0 20px 0;
}

#page .main {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

fieldset {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2.5em 0 0 0;
  position: relative;
  margin: 20px 0;
}

fieldset .fieldset-wrapper {
  padding: 0;
}

fieldset.collapsed {
  background-color: transparent;
}

html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

fieldset fieldset {
  background-color: #fff;
}

fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

.page-admin-appearance-settings #edit-actions {
  padding: 20px;
  background-color: #f1f1f1;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 0 1px inset;
}
.page-admin-appearance-settings #edit-actions:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .page-admin-appearance-settings #edit-actions {
  height: 1%;
}
*:first-child + html .page-admin-appearance-settings #edit-actions {
  min-height: 1%;
}

/**
 * .main form elements.
 */
.main form .form-item {
  padding: 0;
  margin: 0 0 14px;
  float: left;
  clear: both;
  position: relative;
}
.main form .form-item div {
  float: none;
  margin: 0;
  padding: 0;
  background: none;
}

.main .form-actions div {
  float: none;
  margin: 0;
  padding: 0;
  background: none;
  display: inline;
}

.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}

.text-format-wrapper .form-item {
  padding-bottom: 0;
}

.form-item label {
  margin: 0;
  padding: 0;
  line-height: 1.6em;
}
.form-item label em {
  font-weight: normal;
}

.form-item label.option {
  text-transform: none;
}

.form-item label.option {
  font-size: 0.923em;
}

.form-item label.option input {
  vertical-align: middle;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/**
 * Vertical tabs
 */
div.vertical-tabs {
  width: 100%;
  border-width: 1px 0;
  margin: 0;
}

div.vertical-tabs .form-item {
  width: 100%;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset {
  border: 1px solid #ccc;
  padding: 20px;
}

div.vertical-tabs .vertical-tabs-list {
  border: none;
}

div.vertical-tabs ul li.vertical-tab-button a {
  border-bottom: 1px solid #D7D7D7;
  border-top: 1px solid #fff;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  padding: 10px 10px 10px 20px;
  background: none;
}

div.vertical-tabs ul li.vertical-tab-button a strong {
  font-weight: normal;
}

div.vertical-tabs .vertical-tabs-panes .vertical-tabs-pane fieldset legend {
  display: inline-block;
}

div.vertical-tabs .form-item[class$="invoke"] .form-text {
  max-width: none;
}

fieldset fieldset {
  background-color: #f4f4f4;
  clear: both;
}

fieldset fieldset legend {
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 14px;
  display: block;
}

fieldset fieldset fieldset {
  background-color: #FFFFFF;
}

fieldset fieldset fieldset fieldset {
  background-color: #f1f1f1;
}

fieldset .fieldset-wrapper {
  padding: 0;
}

/**
 * jQuery ui tabs
 */
#system-theme-settings .ui-tabs .ui-tabs-nav {
  border: solid #CCC;
  border-width: 0 1px 0 0;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  position: relative;
  bottom: -2px;
  background: #eee;
}

#system-theme-settings .ui-tabs .ui-tabs-nav li {
  width: 20%;
  padding: 0;
  margin: 0;
  position: static;
  background: #f1f1f1;
  background-color: rgba(255, 255, 255, 0.6);
  width: 130px;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #d7d7d7!important;
  /* jQuery ui css does this */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

#system-theme-settings .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  border-bottom-color: #fff!important;
  /* jQuery ui css does this */
  padding-bottom: 0;
}

#system-theme-settings .ui-tabs .ui-tabs-nav li a {
  background: transparent url("../images/devices.png") no-repeat 50% 85%;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100px;
  line-height: 18px;
  border-radius: 0;
  font-size: 10px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
}

#system-theme-settings .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  background: white url("../images/devices.png") no-repeat 50% 85%;
  color: #0074BD;
  opacity: 1;
}

/**
 * LayoutKit
 */
div.vertical-tabs .vertical-tabs-panes #edit-layout {
  margin-top: 109px;
}

#edit-layout.ui-tabs .ui-tabs-nav li:nth-child(2) a {
  background-image: url("../images/devices2.png");
  background-position: 50% 62%;
}

#edit-layout.ui-tabs .ui-tabs-nav li:nth-child(3) a {
  background-image: url("../images/devices3.png");
  background-position: 50% 78%;
}

#edit-layout.ui-tabs .ui-tabs-nav li:nth-child(4) a {
  background-image: url("../images/devices4.png");
  background-position: 50% 60%;
}

#edit-layout.ui-tabs .ui-tabs-nav li:nth-child(5) a {
  background-image: url("../images/devices5.png");
  background-position: 50% 78%;
}

div.vertical-tabs .vertical-tabs-panes fieldset .form-item {
  clear: both;
}

#edit-layout .form-item-responsive-enable {
  position: absolute;
  top: -90px;
  width: 630px;
  background: #f1f1f1;
  padding: 16px!important;
  float: left;
}
#edit-layout .form-item-responsive-enable label {
  font-weight: normal;
  display: inline;
  width: auto;
}

.page-admin-appearance-settings div.vertical-tabs .vertical-tabs-panes {
  margin: 20px 14px 20px 260px;
  padding: 0;
}

div.vertical-tabs .vertical-tabs-panes #edit-layout fieldset {
  margin-top: 0;
  padding-top: 1.5em;
  border-top-width: 0;
  font-size: 13px;
}

div.vertical-tabs .vertical-tabs-panes fieldset label {
  width: 100%;
  clear: both;
  display: block;
  font-weight: bold;
  font-size: 13px;
}

div.vertical-tabs .vertical-tabs-panes fieldset .fieldset-description {
  margin-bottom: 1em;
}

div.vertical-tabs .vertical-tabs-panes fieldset .description {
  float: right;
  width: 444px;
  margin: 0 0 0 10px;
  color: #999;
  font-size: 13px;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset .description {
  width: 400px;
}

div.vertical-tabs .vertical-tabs-panes fieldset fieldset fieldset .description {
  width: 357px;
}

#system-theme-settings div.vertical-tabs .vertical-tabs-panes .form-type-checkboxes .description {
  float: none;
  width: auto;
  clear: both;
  margin: 0;
}

#system-theme-settings label.option {
  color: #999;
  font-size: 13px;
  display: inline;
  width: auto;
}

div.vertical-tabs .vertical-tabs-panes fieldset .form-text,
div.vertical-tabs .vertical-tabs-panes fieldset select {
  float: left;
  width: 200px;
  font-size: 13px;
}

div.vertical-tabs .vertical-tabs-panes fieldset .form-type-textarea {
  width: 100%;
  font-size: 13px;
  clear: both;
}

div.vertical-tabs .vertical-tabs-panes fieldset .form-type-textarea .description,
div.vertical-tabs .vertical-tabs-panes fieldset .form-text-full ~ .description {
  margin: 5px 0 0 0;
  width: 100%;
}

div.vertical-tabs .vertical-tabs-panes fieldset .form-text-full {
  width: 100%;
}

/**
 * Color Painter
 */
.farbtastic {
  z-index: 10;
}

.color-form .form-item-scheme {
  height: 3.2em;
}

#palette {
  margin-top: 2em;
}
#palette .form-item {
  height: 2.8em;
  padding: 5px 0;
}
#palette .item-selected {
  background: none;
}
#palette .item-selected input {
  -moz-box-shadow: #0074bd 0 0 3px;
  -webkit-box-shadow: #0074bd 0 0 3px;
  -o-box-shadow: #0074bd 0 0 3px;
  box-shadow: #0074bd 0 0 3px;
}
#palette .lock {
  left: -18px;
  top: -2em;
}

.color-form h2,
.color-form #preview {
  visibility: hidden;
}

/**
 * BackgroundKit
 */
#edit-backgroundkit.ui-tabs .ui-tabs-nav li {
  width: 328px;
}

#system-theme-settings #edit-backgroundkit.ui-tabs .ui-tabs-nav li a {
  background-image: url("../images/devices-bgimg.png");
}

#system-theme-settings #edit-backgroundkit.ui-tabs .ui-tabs-nav li:first-child a {
  background-image: url("../images/devices-bggrad.png");
}

#edit-backgroundkit fieldset {
  margin-top: 0;
  padding-top: 1.5em;
  border-top-width: 0;
  font-size: 13px;
}

#edit-backgroundkit #farb-bgkit {
  position: absolute;
  top: 8em;
  left: 265px;
  z-index: 10;
}

#edit-gradient-opacity,
#edit-image-opacity {
  margin-top: 30px;
  opacity: 0.5;
}

#edit-backgroundkit .ui-slider {
  top: 65px;
  width: 195px;
  padding-top: 0;
}

#edit-gradient-color-bottom,
#edit-gradient-color-top {
  cursor: pointer;
  padding: 3px;
}

#edit-gradient-color-bottom {
  margin-bottom: 6em;
}

.demo-background-wrapper {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.demo-background {
  margin-right: 20px;
  height: 100px;
}

/**
 * SlideshowKit
 */
#edit-slideshowkit.ui-tabs .ui-tabs-nav li {
  width: 328px;
}

#system-theme-settings #edit-slideshowkit.ui-tabs .ui-tabs-nav li a {
  background-image: url("../images/devices-slcycle.png");
}

#system-theme-settings #edit-slideshowkit.ui-tabs .ui-tabs-nav li:first-child a {
  background-image: url("../images/devices-slflex.png");
}

#edit-slideshowkit fieldset {
  margin-top: 0;
  padding-top: 1.5em;
  border-top-width: 0;
  font-size: 13px;
}

.demo-background-wrapper p {
  margin: 0;
}

/**
 * Pick a sidebar configuration
 */
#edit-layout .form-radios:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html #edit-layout .form-radios {
  height: 1%;
}
*:first-child + html #edit-layout .form-radios {
  min-height: 1%;
}

#edit-layout .form-type-radio {
  float: left;
  clear: none;
  width: 100px;
  height: 80px;
}

#edit-layout .form-radios label {
  background: white url("../images/layouts.png") no-repeat 0 0;
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  text-indent: -99999px;
  border: 3px solid #fff;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

#edit-layout label:hover,
#edit-layout label:focus {
  border-color: #9dc5de;
}

#edit-layout input[type="radio"]:checked + label {
  border-color: #88cb00;
}

#edit-layout label[for$="-2"] {
  background-position: -93px 0;
}

#edit-layout label[for$="-3"] {
  background-position: -186px 0;
}

#edit-layout label[for$="-4"] {
  background-position: -280px 0;
}

#edit-layout label[for$="-5"] {
  background-position: -370px 0;
}

#edit-layout .form-radios input {
  visibility: hidden;
}

/**
 * Fontkit
 */
.fontkit-previews p {
  margin: 0 0 20px 0;
}

.font-preview {
  font-size: 30px;
  padding: 10px 0;
  border-top: 2px solid #ccc;
}

.font-preview p {
  margin: 10px 0;
}

.font-preview .font-test,
.font-preview .font-test-accents {
  font-size: 16px;
}

.font-preview .font-test-small {
  font-size: 13px;
}

#edit-font-choose .form-item {
  float: left;
  width: 220px;
  clear: left;
}
#edit-font-choose .form-item.form-type-textfield {
  float: right;
  clear: right;
  width: 398px;
}

#edit-font-choose .form-text {
  width: 100%;
}
