/**
 * Skinr form
 */
#skinr-ui-form form {
  width: 960px;
}

#skinr-ui-form form fieldset fieldset {
  clear: none;
}

#edit-skinr-settings-block-type fieldset[id$="groups-layout"] .fieldset-wrapper {
  width: 600px;
}

#edit-skinr-settings-block-type fieldset[id$="groups-layout"] label {
  min-height: 2em;
  color: #333;
}

#edit-skinr-settings-block-type fieldset[id$="groups-layout"] .form-type-select {
  width: 130px;
  height: 100px;
  float: left;
  clear: none;
  color: #999;
  font-size: 13px;
  padding: 5px 20px 5px 0;
  border-bottom: 1px solid #ccc;
}

#edit-skinr-settings-block-type fieldset[id$="groups-layout"] .form-type-select select {
  width: 100%;
}

#edit-skinr-settings-block-type fieldset[id$="groups-layout"] .form-type-select .description {
  width: 100%;
  float: none;
  margin: 5px 0;
}
