
/* $Id$ */

/* Shared */
.quickpay-cards img {
  margin: 2px 4px;
}

/* The block */
.block-quickpay .quickpay-cards img {
  float: left;
}

.quickpay-cards img {
  vertical-align: middle;
}

/* Ubercart */
#payment-pane .quickpay-cards {
  display: inline;
}
