/* $Id: colors.css,v 1.1.2.15 2011/01/13 09:03:00 jmburnz Exp $ */
/**
 * Pixture Reloaded Colors
 */
/* Main Wrappers */
body {
  color: #555555;
  background: #f4f5f6 url(bg-wall.png) repeat-x left top;
}
div#page {
  background: #feffff url(header-tile.png) repeat-x left top;
}

/* HTML elements */
fieldset legend,
.form-item label {
  color: #666666;
}
blockquote {
  background: #e5e6e7;
}

/* Lists */
.item-list ul li {
  list-style-image: url(bullet-round.png);
}
.links {
  color: #666666;
}
/* Menus */
li.leaf {
  list-style-image: url(bullet-round.png);
}
li.collapsed {
  list-style-image: url(bullet-sm-arrow-right.png);
}
li.expanded {
  list-style-image: url(bullet-sm-arrow-down.png);
}

/* Links */
a:link,
a:visited,
a:active,
a.active {
  color: #4d637a;
}
a:hover,
a:focus {
  color: #6283a6;
}

/* Tables */
tr.odd {
  background: #f4f5f6;
}
tr.even {
  background: #ffffff;
}

/* Header */
#header {
  background: url(header.png) no-repeat top left;
}
#site-slogan,
#site-name a,
.region-header #block-user-login label,
.nav li a:link,
.nav li a:hover,
.nav li a:focus,
.nav li a:visited,
.nav li a:active,
.nav li a.active,
.nav li a:visited:hover {
  color: #ffffff;
}
#menu-bar,
#primary-menu-bar {
  background: url(menu-tile.png) repeat-x 0 0;
}
.region-header .form-text,
.region-header .form-submit {
  border-color: #4d637a;
}

/* Footer */
#footer {
  background: #8c909b; /* fallback for browsers that don't support CSS gradients */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c909b), to(#eeecec));
  background-image: -moz-linear-gradient(-90deg, #8c909b, #eeecec);
}
#footer,
#footer a {
  color: #ffffff;
}
#footer #block-node-recent {
  color: #444444;
}
#footer #block-node-recent a {
  color: #4d637a;
}

/* Sidebar */
.sidebar {
  background: #feffff;
}

/* Blocks */
.block-inner {
  background: #e6e7e8;
}
.block-title {
  color: #ffffff;
  background: #aeb2b5;
}
.block .article,
.block .article-sticky {
  background: #ffffff;
}
/* Strip backgrounds */
#header-region .block-inner,
#block-system-main .block-inner,
#footer .block-inner,
#footer .block .block-title {
  background: none;
}

/* Poll */
.poll .bar {
  background-color: #efefef;
  border: solid 1px #afafaf;
}
.poll .bar .foreground {
  background: #4d637a url(bg-lbar.png) repeat-x center left;
}

/* Articles */
#main-content .article {
  background: #ffffff;
}
.article h2 {
  border-bottom: solid 1px #e6e7e8;
}
.article h2 a:hover {
  color: #566679;
}
.article-sticky h2 {
  border-bottom: solid 1px #ffffff;
}
.article-submitted {
  color: #666666;
}
#main-content .article-teaser {
  border: 1px solid #e6e7e8;
}
#main-content .article-teaser.article-sticky {
  background: #e6e7e8;
}

/* Comments */
.comment {
  background: #ffffff;
}
.comment-submitted {
  color: #666666;
}
#comments .odd {
  background: #e6e7e8;
}

/* Aggregator */
#aggregator .feed-source {
  background-color: #efefef;
  border: 1px solid #d0d0d0;
}

/* Forum */
#forum td.container {
  background: #e0e0e0;
}
#forum thead, 
#forum tbody {
  border: none;
}

/* Profile */
#profile .profile {
  border: 1px solid #afafaf;
}

/* Administer */
div.admin-panel {
  background: #f4f5f6;
}
div.admin-panel h3 {
  background: #aeb2b5;
  color: #ffffff;
}

/* Pager */
div.item-list ul.pager li {
  border: 1px solid #e6e7e8;
}
div.item-list ul.pager li:hover,
div.item-list ul.pager li:focus {
  border: 1px solid #aeb2b5;
  color: #4d637a;
}
div.item-list ul.pager li.pager-current {
  border: 1px solid #aeb2b5;
}

/* Local task tabs */
ul.primary li a {
  background: #ffffff;
  border: solid 1px #e6e7e8;
}
ul.primary li a:hover {
  background: #ffffff;
  border: solid 1px #aeb2b5;
}
ul.primary li a.active,
ul.primary li.active a {
  border: solid 1px #aeb2b5;
  background: #e6e7e8;
  color: #000000;
}
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  border: solid 1px #aeb2b5;
  background: #e6e7e8;
  color: #000000;
}

/* Superfish Skin */
.sf-menu.sf-style-default li,
.sf-navbar.sf-style-default {
  background: transparent;
}
.sf-menu.sf-style-default li li {
  background: #8c909b;
}
.sf-menu.sf-style-default li li li {
  background: #8c909b;
}
.sf-menu.sf-style-default li:hover,
.sf-menu.sf-style-default li.sfHover,
.sf-menu.sf-style-default li.active a,
.sf-menu.sf-style-default a:focus,
.sf-menu.sf-style-default a:hover,
.sf-menu.sf-style-default a:active,
.sf-navbar.sf-style-default li li {
  background: #aeb2b5;
}
.sf-navbar.sf-style-default li ul li ul {
  background-color: transparent;
}
/* .sf-horizontal */
.sf-menu.sf-horizontal a {
  border: 0 !important;
  color: #ffffff !important;
}
/* .sf-navbar */
.sf-navbar.sf-style-default li ul {
  background-color: transparent !important;
  width: 100%;
}
.sf-navbar > li > ul > li {
  border-bottom: 1px solid #4d637a;
}
/* .sf-vertical */
.sf-menu.sf-vertical a {
  border: 0 !important;
  color: #4d637a;
}
.sf-menu.sf-vertical a:hover,
.sf-menu.sf-vertical a:focus,
.sf-menu.sf-vertical ul a,
.sf-menu.sf-vertical ul ul a,
.sf-menu.sf-vertical ul ul ul a,
.sf-menu.sf-vertical ul ul ul ul a {
  color: #ffffff !important;
}

/* Calendar styles */
.calendar-calendar div.date-nav {
  background-color: transparent;
  color: #4d637a;
}
.calendar-calendar div.date-nav a,
.calendar-calendar div.date-nav h3 {
  color: #4d637a;
}
.calendar-calendar td {
  color: #000000;
}
.calendar-calendar th {
  background-color: #e5e6e7;
  color: #4d637a;
  border: 1px solid #e5e6e7;
}
.calendar-calendar th.days {
  background-color: #ffffff;
  color: #4d637a;
}
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #e5e6e7;
}
.calendar-calendar td.calendar-agenda-hour,
.calendar-calendar td.calendar-agenda-items,
.calendar-calendar td.calendar-agenda-hour {
  border-color: #e5e6e7;
}
.view-content .calendar-calendar ul.inline li {
  border: 1px solid #e5e6e7;
}
