/**
 * Handpicked styles that are OK to be parsed by color module
 * Color module cannot parse the full style.css because the color-matching
 * code in color.module is error-prone and suffers from rounding problems
 * resulting in colors mixing up and red-shifting of graytones.
 * NOTE: colors are case sensitive for color.module
 */

body {
  background: #ebebeb;
  color: #454545;
}

body a,
#page .block-menu li a {
  color: #004d7d;
}

.masthead .logo-container,
#page .block-search .form-actions,
.masthead ul li a:hover, .masthead ul li a:focus, .masthead ul li a.active,
.post-icon, .content-column .node header .post-icon, .region-featured .block .grid-inner header .post-icon,
#page .block-search .form-actions {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #084d78), color-stop(100%, #012941));
  background-image: -webkit-linear-gradient(#084d78, #012941);
  background-image: -moz-linear-gradient(#084d78, #012941);
  background-image: -o-linear-gradient(#084d78, #012941);
  background-image: -ms-linear-gradient(#084d78, #012941);
  background-image: linear-gradient(#084d78, #012941);
  -pie-background: linear-gradient(#084d78, #012941);
}
