/** 
 * $Id: admin-section.css,v 1.1.2.2 2010/10/15 13:02:32 jmburnz Exp $
 */

div.admin-panel {
  border:1px solid #DDD;
  margin:0 0 .75em;
  padding:0;
}
div.admin .left,
div.admin .right {
  margin-left:0;
  margin-right:0;
  width:49%;
}
.admin-panel h3 {
  background:#EEE;
  color:#222;
  padding:0 0 0 .5em;
  font-size: 0.9em;
  font-weight: 700;
}
.admin-panel .body {
  padding:0 1em;
}
.admin-panel p {
  margin:0;
  padding:1em 0 0;
}
.admin-panel ul,
.admin-panel ul.menu,
.admin-panel .item-list ul {
  padding:0 0 1em;
}
.admin-panel ul li {
  color:#555;
}
.admin-panel dl {
  margin:0;
  padding:1em 0;
}
.admin-panel dd {
  color:#555;
  font-size:.94em;
  margin-left:0;
}
.admin .compact-link {
  margin:0 0 1em;
}
.page-admin-by-module .admin-panel .body p {
  color:#555;
  font-size:.94em;
}
.more-help-link {
  font-size:.94em;
  line-height:1.667em;
}
#permissions td.permission {
  padding-left:.5em;
}
#permissions td.module {
  background:#EEE;
  color:#222;
  font-weight:700;
}
tr .block {
  border:0;
}
.admin-panel dt {
  font-weight:400;
}
.admin-dependencies,
.admin-required,
.admin-enabled,
.admin-disabled,
.admin-missing {
  font-weight:700;
}
.admin-panel .item-list ul,
.page-admin-by-module .admin-panel .body {
  margin:0;
}
