/** 
 * $Id: base.css,v 1.2.4.15 2010/12/01 11:06:30 jmburnz Exp $
 */

/* Reset */
body,
h1,h2,h3,h4,h5,h6,
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,
em,dfn,del,ins,
a,
tbody,tfoot,thead,tr,
li,
label,legend {
  margin: 0;
  padding: 0;
}

/* Reset HTML5 elements, CSS assumes elements are inline. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Accessibility helpers */
.offscreen {
  position: absolute;
  top: -9999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.element-hidden {
  display: none;
}
