/** 
 * $Id: layout.css,v 1.1.4.8 2010/12/22 03:51:59 jmburnz Exp $
 */
.two-sidebars .content-inner {
  margin:0 240px;
}
.sidebar-first .content-inner {
  margin-left:240px;
}
.sidebar-last .content-inner {
  margin-right:240px;
}
.region-sidebar-first {
  width:240px;
  margin-left:-100%;
}
.region-sidebar-second {
  width:240px;
  margin-left:-240px;
}

/* Add margin to align elements to the grid. */
.block-inner,
.breadcrumb,
.region-help,
.messages,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content > header,
#branding,
#attribution {
  margin-left: 10px;
  margin-right: 10px;
}

/* Strip block margin inside content column area */
.content-inner .block {
  margin: 0;
}

/* Grids. */
.grid-1,
.grid-2-12,
.grid-2-16,
.grid-3,
.grid-4-16,
.grid-4-12,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.fgrid-6,
.fgrid-5,
.fgrid-4,
.fgrid-3,
.fgrid-2 {
  float: left;
  clear: none !important;
  display: inline;
}
.grid-1 {
  width: 40px;
}
.grid-2-16 {
  width: 100px;
}
.grid-2-12 {
  width: 140px;
}
.grid-3 {
width: 160px;
}
.grid-4-16 {
  width: 220px;
}
.grid-4-12 {
  width: 300px;
}
.grid-5 {
  width: 280px;
}
.grid-6 {
  width: 340px;
}
.grid-7 {
  width: 400px;
}
.grid-8 {
  width: 460px;
}
.grid-9 {
  width: 520px;
}
.grid-10 {
  width: 580px;
}
.grid-11 {
  width: 640px;
}
.grid-12 {
  width: 700px;
}
.grid-13 {
  width: 760px;
}
.grid-14 {
  width: 820px;
}
.grid-15 {
  width: 880px;
}
.grid-16 {
  width: 940px;
}
/* Fluid grids */
.fgrid-6 {
  width: 16.67%;
}
.fgrid-5 {
  width: 20%;
}
.fgrid-4 {
  width: 25%;
}
.fgrid-3 {
  width: 33.33%;
}
.fgrid-2 {
  width: 50%;
}

/* Grid offsets - an offset = grid-width + gutter */
.go-1 {
  margin-left: 60px;
}
.pos-r.go-1 {
  margin-left: 0;
  margin-right: 60px;
}
.go-2-16 {
  margin-left: 120px;
}
.pos-r.go-2-16 {
  margin-left: 0;
  margin-right: 120px;
}
.go-2-12 {
  margin-left: 160px;
}
.pos-r.go-2-12 {
  margin-left: 0;
  margin-right: 160px;
}
.go-3 {
  margin-left: 180px;
}
.pos-r.go-3 {
  margin-left: 0;
  margin-right: 180px;
}  
.go-4-16 {
  margin-left: 240px;
}
.pos-r.go-4-16 {
  margin-left: 0;
  margin-right: 240px;
}
.go-5 {
  margin-left: 300px;
}
.pos-r.go-5 {
  margin-left: 0;
  margin-right: 300px;
}
.go-4-12 {
  margin-left: 320px;
}
.pos-r.go-4-12 {
  margin-left: 0;
  margin-right: 320px;
}
.fgo-6 {
  margin-left: 16.67%;
}
.pos-r.fgo-6 {
  margin-left: 0;
  margin-right: 16.67%;
}
.fgo-5 {
  margin-left: 20%;
}
.pos-r.fgo-5 {
  margin-left: 0;
  margin-right: 20%;
}
.fgo-4 {
  margin-left: 25%;
}
.pos-r.fgo-4 {
  margin-left: 0;
  margin-right: 25%;
}
.fgo-3 {
  margin-left: 33.33%;
}
.pos-r.fgo-3 {
  margin-left: 0;
  margin-right: 33.33%;
}

/* GPanels */
.gpanel {
  clear: both;
}
.gpanel .region {
  display: inline;
  position: relative;
  float: left;
}
.two-33-66 .region-two-33-66-second {
  width: 66.333%;
}
.two-66-33 .region-two-66-33-first {
  width: 66.666%;
}
.five-5x20 .region {
  width: 20%;
}
.five-5x20 .region-five-fifth {
  width: 19.75%;
}
.six-6x16 .region {
  width: 16.666%;
}
.six-6x16 .region-six-sixth {
  width: 16.333%;
}
.two-50 .region-two-50-first,
.three-50-25-25 .region-three-50-25-25-first {
  width: 50%;
}
.two-50 .region-two-50-second,
.three-25-25-50 .region-three-25-25-50-third {
  width: 49.5%;
}
.two-33-66 .region,
.two-66-33 .region {
  float: left;
}
.two-33-66 .region-two-33-66-first,
.three-3x33 .region {
  width: 33.333%;
}
.two-66-33 .region-two-66-33-second,
.three-3x33 .region-three-33-third {
  width: 33%;
}
.three-25-25-50 .region-three-25-25-50-first,
.three-25-25-50 .region-three-25-25-50-second,
.three-50-25-25 .region-three-50-25-25-second,
.four-4x25 .region {
  width: 25%;
}
.three-50-25-25 .region-three-50-25-25-third,
.four-4x25 .region-four-fourth {
  width: 24.5%;
}

/* Panels */
.block-panels_mini {
  padding: 0;
}

/* Block positioning */
.pos-c {
  float: none;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
.pos-r {
  float: right;
}
.pos-cf {
  float: none;
  clear: both;
  display: block;
}

/* Content alignment */
/* Centered */
.ca-c,
.ca-c ul.menu,
.ca-c .item-list ul {
  text-align: center;
  margin: 0;
}
.ca-c ul.menu li,
.ca-c .item-list ul li {
  list-style: none;
  margin: 0;
}
/* left */
.ca-l,
.ca-l ul.menu,
.ca-l .item-list ul {
  text-align: left;
  margin: 0;
}
/* Right */
.ca-r,
.ca-r ul.menu,
.ca-r .item-list ul {
  text-align: right;
  margin: 0;
}

/* Imagefield positioning */
.ai-l .field-type-image {
  float: left;
}
.ai-r .field-type-image {
  float: right;
} 
.ai-b,
.ai-b .block-inner,
.ai-b .block-content {
  padding: 0;
  overflow: hidden;
}
.ai-b .block-content p,
.ai-b .block-content div.field-type-image {
  padding: 0;
  margin: 0;
  line-height: 0;
}

/* Containers and layout helpers. */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
#main-content,
#columns {
  display: inline-block;
  width: 100%;
}
#main-content,
.block {
  position: relative;
}
.content-inner > #main-content,
#page > #columns {
  display: block;
}
#content-column,
.region-sidebar-first,
.region-sidebar-second,
.at-horizontal-login label {
  float: left;
}
#content-column {
  width: 100%;
}
.clear,
#columns,
#breadcrumb,
#content-bottom,
#secondary-content,
#tertiary-content,
#footer,
#footer-region,
#footer-message,
.block,
.pos-cf,
#block-admin-display-form {
  clear: both;
}

/* New clearfix */
.clearfix:after {
  content: " ";
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  width: 0;
  visibility: hidden;
  }
* html .clearfix {
  zoom: 1; /* IE6 */
}
*:first-child+html .clearfix {
  zoom: 1; /* IE7 */
}
