//
// Utility mixins & styles for TouchPro
//

$main-color: #004d7d;
$text-color: #454545;
$lightgray: #ebebeb;

$default-text-shadow-color: #000;
$default-text-shadow-h-offset: 1px;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 1px;
$default-transition-duration: 300ms;

@mixin magic-border($offset: 1) {
  @include box-shadow(rgba(#fff, $offset) 0 0 0 1px inset);
}

@mixin bg-gradient1 {
  background-color:#1e1e1e;
  @include background-image(linear-gradient(#262626, #151515));
  -pie-background: linear-gradient(#262626, #151515);
  @include magic-border(0.3);
  border:1px solid #000;
  color: $lightgray;
  a { color: $lightgray; }
  @include single-text-shadow;
  filter: dropshadow(color=#333,offX=1,offY=2);
  min-width:1px; // this is needed for the shadow to work in IE7
}

@mixin bg-gradient2 {
  background-color:#323232;
  @include background-image(linear-gradient(#3f3f3f, #242424));
  -pie-background: linear-gradient(#3f3f3f, #242424);
  @include magic-border(0.2);
  border:1px solid #000;
  color:$lightgray;
  a { color:$lightgray; }
  @include single-text-shadow;
  filter: dropshadow(color=#333,offX=1,offY=2);
  min-width:1px; // this is needed for the shadow to work in IE7
}

@mixin bg-gradient3 {
  background-color: $main-color;
  @include background-image(linear-gradient(#084d78, #012941));
  -pie-background: linear-gradient(#084d78, #012941);
  color: $lightgray;
  @include single-text-shadow;
  @include magic-border(0.2);
}

@mixin bg-gradient4 {
  background-color: #f0f0f0;
  @include background-image(linear-gradient(#eee, #f6f6f6));
}
